[submodule "harfbuzz"]
	path = harfbuzz
	url = https://github.com/behdad/harfbuzz.git
[submodule "freetype"]
	path = freetype
	url = https://github.com/winlibs/freetype.git
[submodule "icu4c"]
	path = icu4c
	url = https://github.com/sillsdev/icu4c.git
